@charset "utf-8";
/* CSS Document */
aside div{
	position:absolute;
	display:block;
	allign:left;
	float:left;
	width:100px;
	border:2px solid black;
}

#indexmain{
	allign:center;	
	display:block;
	float:right;
}

header li{
	display:inline;	
	padding:5px;
}