@charset "utf-8";
/* Stylesheet for Connect 4 Project
	Aaron C Salcido, October 10th, 2014 */
	

body{
	
}

.header{
	position:fixed;
	width:100%;
}
.navbar{
	
}
.navbar  li{
	display:inline;
}
.navbar a{
}
